.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  background-color: #8faf9a;
  font-family: Arial, sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 23rem;
} 
.login-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #48a667;
  border-radius: 5px;
  margin-bottom: 20px;
}

.login-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #48a667;
}

.login-input {
  background-color: #f0f0f0c4;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  margin-bottom: 10px;
}
.login-input error {
  border-color: #ff0000;
}

.input-error-message {
  color: #ff0000; /* red text color */
  font-size: 0.8em; /* smaller font size */
  margin-bottom: 0; /* no bottom margin */
  padding-left: 40px; /* small left padding */
  text-align:left;  
}


/* time selector css */
.time-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-range {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.time-label {
  width: 50px;
  text-align: right;
  margin-right: 10px;
  font-size: 8px;
}

.time-slot {
  cursor: pointer;
  padding: 8px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 20rem;
  height: 20px;
  background-color:rgb(215, 215, 215);
}
.time-first {
  border-top: 1px black;
}
.time-gray {
  background-color: #c0c0c0;
}

.row {
  display: flex;
  align-items: center;
}
