*{
  box-sizing:border-box;
  }
.App {
  text-align: center;
  background-color: #8faf9a;

}

.render-chat {
	max-width: 350px;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

.router {
  background-color: #8faf9a;

}
.imTheBest{
  background-color: rgb(124,252,0);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  background-color: #fefbe9; 
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  height: 100%;
  width: 100%;
  background-color: #8faf9a;
  color: #183a1d;
}

.currentDay{
  font-size: large;
}
.centered {
  align-items: center;
}
.left{
  text-align: left;
}
.smallCal{
  display:inline-block;
  height:100%;
  width: 350px;
  max-width: 200%;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #C17A4E;
  color: #F6F1EC;
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
}

.App-link {
  padding: 0.4rem 0.8rem;
	background-color: white;
	border-radius: 3px;
	color: green;
	text-decoration: none !important;
	margin: 5px;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}


.Login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 23rem;
} 
.whiteBackground{
  background-color: white;
}
.login-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
  margin-bottom: 20px;
}
.inputPage{
  display: flex;
  height:100%;
  width: 700px;
  max-width: 200%;
  justify-content: right;
}
.login-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: green;
}
.homepageLabel{
  margin-bottom: 10px;
  font-weight: bold;
  color: green;
}

.login-input {
  background-color: #f0f0f0c4;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  margin-bottom: 10px;
}
.makeBlack{
  color:black;
}
.homepageInput{
  background-color: #f0f0f0c4;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  margin-bottom: 10px;
  color:black;
}
.login-input error {
  border-color: #ff0000;
}

.input-error-message {
  color: #ff0000; /* red text color */
  font-size: 0.8em; /* smaller font size */
  margin-bottom: 0; /* no bottom margin */
  padding-left: 40px; /* small left padding */
  text-align:left;  
}


/* time selector css */
.time-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-range {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.time-label {
  width: 50px;
  text-align: right;
  margin-right: 10px;
  font-size: 8px;
}

.time-slot {
  cursor: pointer;
  padding: 8px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 20rem;
  height: 20px;
  background-color:rgb(215, 215, 215);
}
.top-slot{
  border-top: 1px solid black;
}
.warning-slot{
  background-color: red !important;
  border: 2px solid darkred !important;
}
.workpls{
  background: orange;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  text-align: center;
  line-height: 16px;
}
.react-calendar {
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}



.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.time-gray{
  background-color: #c0c0c0;
  
}
.selected {
  background-color: orange;
}
.row {
  display: flex;
  align-items: center;
}

.topAnchorTime{
  background-color:orange;
  border-top: 2px solid #452103;
} 
.bottomAnchorTime{
  background-color:orange;
  border-bottom: 2px solid #452103;
}

.anchor {
  left: -10px;
  top: -10px;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  transform: translateY(100%);
}

.warningAnchor{
  left: -10px;
  top: -10px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  transform: translateY(0%);
}

.topAnchor{
  transform: translateY(-100%);
}
.bottomAnchor{
  transform: translateY(100%);
}
.right{
  justify-content: right;
  font-size: large;
  align-items: end;
  top: '100%';
}
.howItWorks{
  font-size: larger;
  font-weight: bold;
}
.titleText{
  font-size: xx-large;
  font-weight:bolder;
  color: #F0A04B;
}

.calContain{
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.light-green-100{
  color: #41732A;
}

.light-green-200{
  color: #41732A;
}

.dark-green-100{
  color: #183A1D;
}